body{
background-color: burlywood;


}
h1 {
    font-size: 100px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#container {
    max-width: 400px;
    margin: 0 auto;
    padding: 200px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color:burlywood;
}
#Añadir{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    width: 150px; /* Puedes ajustar el valor según tu preferencia */
    padding: 10px;



}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  label {
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }